
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Child</title>
</head>
<body>

    @Html.Action("klokken")
    @Html.Action("klokken")
    @Html.Action("klokken")
    @Html.Action("klokken")
    @Html.Action("klokken")

</body>
</html>
